.menu {
  display: flex;
  justify-content: center;
}

.searchInputAndButton {
  display: flex;
  max-width: 312px;
  margin: 0 auto;

  .searchInput {
    width: 85%;
  }
}

.employeeInfoListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerHomeButton {
  text-decoration: none;
}

.headerHomeButton:visited {
  color: inherit;
}

.icon {
  height: 30px;
  width: 30px;
}
